@using RiskAssessment.Resource;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row page-titles mx-0" style="padding-bottom: 0px; ">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">@Resource.Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">@Resource.User</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">@Resource.Create</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-primary text-white" style=" font-size: 1rem; ">
            @Resource.Create
        </div>
        <div class="card-body card-custom">
            <form id="form-users" class="form-valide" action="#" method="post" style="margin-top: 20px;">
                <input type="hidden" id="Id" name="Id" value="0" />
                <div class="row">
                    <div class="col-md-12 row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="FullName">
                                    @Resource.FullName <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="FullName" name="FullName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="Email">
                                    Email <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="Email" name="Email" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="UserName">
                                    @Resource.UserName <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="UserName" name="UserName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="Password">
                                    @Resource.Password <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8">
                                    <input type="password" class="form-control" id="Password" name="Password" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="UserType">
                                    @Resource.UserType <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8">
                                    <select class="form-control selectpicker" id="UserType" name="UserType">
                                        <option value="1">Kiểm toán nội bộ</option>
                                        <option value="2">Đơn vị được kiểm toán</option>
                                        <option value="3">Khác</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="UsersGroup">
                                    @Resource.UserGroup
                                </label>
                                <div class="col-lg-8">
                                    <select class="form-control selectpicker" id="UsersGroup" name="UsersGroup">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="Deparment">
                                    Đơn vị phòng ban <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8">
                                    @*<select class="form-control selectpicker" id="parent">
                                        </select>*@
                                    <select class="form-control selectpicker" id="Deparment" name="Deparment">
                                        <option value="1">Phòng Kế Toán</option>
                                        <option value="2">Phòng IT</option>
                                        <option value="3">Phòng Marketing</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="UsersGroup">
                                    @Resource.DateOfJoining
                                </label>
                                <div class="col-lg-8">
                                    <input type="text" id="DateOfJoining" name="DateOfJoining" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="RoleId">
                                    @Resource.Role
                                </label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="RoleId" name="RoleId">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="Status">
                                    @Resource.Status
                                </label>
                                <div class="col-lg-8">
                                    <select class="form-control selectpicker" id="Status">
                                        <option value="0">Dừng hoạt động</option>
                                        <option value="1" selected="selected">Đang hoạt động</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12" style="display: inline-flex; flex-direction: row; justify-content: center; align-items: flex-start; width: 100%;">
                        <div style="width: 50%; display: inline-flex; flex-direction: row; justify-content: center; align-items: flex-start;">
                            <div style="width: 24%; display: inline-flex; flex-direction: row; justify-content: center; align-items: flex-start; padding: 0 5px 0 5px; ">
                                <button type="submit" class="btn btn-info" style="width:100%">@Resource.Save</button>
                            </div>
                            <div style="width: 24%; display: inline-flex; flex-direction: row; justify-content: center; align-items: flex-start; padding: 0 5px 0 5px; ">
                                <button type="button" class="btn btn-outline-danger" style="width:100%" onclick="window.history.back();">@Resource.Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div hidden>
    <partial name="_Pagination" />
</div>
@section Scripts{
    <script src="~/js/constant.js" asp-append-version="true"></script>
    <script src="~/js/jsApp/systemusers.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="~/js/jsApp/auditfacility.js" type="text/javascript"></script>*@
    <script src="~/js/jsApp/common.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $("#Status").select2();
        $("#Deparment").select2();
        $("#UserType").select2();
        //getParents();
        callApi_multipleselect("UsersGroup", "Chọn nhóm người dùng..");
        $("#DateOfJoining").bootstrapMaterialDatePicker({
            time: false,
            format: 'DD/MM/YYYY',
        });
    </script>
}

